@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-white/90 backdrop-blur-md border-b border-white/30;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased text-gray-800 bg-gray-50;
}